@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	background: url("img/background.png") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
}

.container {
	margin: 0 auto;
}

/*Pantalla 1*/

h1 {
	color: #ffffff;
	margin: 60px 0 60px 0;
	text-align: center;
}

.intro {
	color: #ffffff;
	font-size: 18px;
	font-weight: 1;
	line-height: 180%;
	margin-bottom: 60px;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.22);
}

#btn-enter {
	background-color: #ffffff;
	border: transparent;
	border-radius: 5px;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.22);
	color: #3f46ad;
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin: auto;
	padding: 15px;
	text-transform: uppercase;
	width: 140px;
}

/*Pantalla 2*/

#section2 {
	display: none;
}

 .header img {
 	margin: 20px 0 30px 0;
 	width: 15%;
 }

.formulario {
	background-color: #fafafa;
	border-radius: 5px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.22);
	padding-bottom: 15px;
}

form {
    padding: 0 20px 20px 20px;
}

.title {
	color: #3f46ad;
	text-align: center;
}


.formulario textarea {
	border: 1px solid #3f46ad;
	border-radius: 5px;
	display: block;
	height: 80px;
	margin: auto;
	padding: 10px;
	resize: none;
	width: 100%;
}

form input{
	border: 1px solid#3f46ad;
	border-radius: 5px;
	display: block;
	margin: 15px 0 15px 0;
	padding: 10px;
	width: 100%;
}

#btn-cipher {
	background-color: #3f46ad;
	border: transparent;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font-size: 14px;
	padding: 15px;
	text-transform: uppercase;
	width: 48%;
}


#btn-decipher {
	background-color: #b200f6;
	border: transparent;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 14px;
	margin: 0 15px 15px 0;
	padding: 15px;
	text-transform: uppercase;
	width: 48%;
}


/*Footer*/

footer{
	bottom: 10px;
	color: #ffffff;
	font-size: 14px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	text-align: center;
	width: 200px;
}
